body {

  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  float: left;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  margin:100px 50px;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;

  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  padding: 0 50px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  padding-right: 50px;
}

.header-right a {
  float: left;
  padding: 10px 30px;
  color: white;
  display: block;
  width: 10%;
}

.contents {
  float: left;
}

.aicon {
  align: center;
}

.yuki h1 {
  text-align: center;
}

.twitter {
  align: center;
  color: white;
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


/*.top-wrapper .kanji {
  height: 40px;
  background-image: url("yuki_kanji.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.top-wrapper .alph {
  height: 20px;
  width: 50%;
  background-image: url("yuki_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
}
