body {

  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  float: left;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  width: 100%;
  background-image: url(../../image/school_zone.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.title {
  width: 50%;
  background-image: url("../../image/title.png");
  background-size: contain;
  background-repeat: no-repeat;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;

  z-index: 10;
}

.title_logo {
  width: 124px;
  margin-top: 20px;
  padding: 0 50px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  padding-right: 50px;
}

.header-right a {
  float: left;
  padding: 10px 30px;
  color: white;
  display: block;
  width: 10%;
}

/*
.top-wrapper .kanji {
  height: 50px;
  background-image: url("akito_kanji.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.top-wrapper .alph {
  height: 25px;
  width: 50%;
  background-image: url("akito_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
}
